Source: probert
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper-compat (= 13),
               dh-python,
               libnl-genl-3-dev,
               libnl-route-3-dev,
               pkg-config,
               python3-all-dev,
               python3-coverage,
               python3-flake8,
               python3-jsonschema,
               python3-nose,
               python3-pyudev,
               python3-setuptools,
Standards-Version: 4.5.0
Homepage: https://github.com/canonical/probert
Vcs-Browser: https://github.com/canonical/probert
Vcs-Git: https://github.com/canonical/probert.git
Rules-Requires-Root: no

Package: probert
Architecture: all
Depends: probert-network, probert-storage, ${misc:Depends}
Description: Hardware probing tool - metapackage
 This package provides a tool for probing host hardware information
 and emitting a JSON report.
 .
 This package provides full probing capability.

Package: probert-common
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Breaks: probert (<< 0.0.16)
Replaces: probert (<< 0.0.16)
Description: Hardware probing tool - common
 This package provides a tool for probing host hardware information
 and emitting a JSON report.
 .
 This package provides the common code for probing.

Package: probert-storage
Architecture: any
Depends: bcache-tools,
         lvm2,
         mdadm,
         multipath-tools,
         probert-common (= ${source:Version}),
         s390-tools [s390x],
         zfsutils-linux,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Breaks: probert (<< 0.0.16)
Replaces: probert (<< 0.0.16)
Description: Hardware probing tool - storage probing
 This package provides a tool for probing host hardware information
 and emitting a JSON report.
 .
 This package contains storage probing capability.

Package: probert-network
Architecture: any
Depends: probert-common (= ${source:Version}),
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Breaks: probert (<< 0.0.16)
Replaces: probert (<< 0.0.16)
Description: Hardware probing tool - network probing
 This package provides a tool for probing host hardware information
 and emitting a JSON report.
 .
 This package contains network probing capability.
