name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        sudo apt install python3-minimal
        sudo apt build-dep .
        python -m pip install --upgrade pip
        python -m pip install tox
    - name: Test
      run: tox
    - name: Build
      run: |
        python3 setup.py build
